extends ../layouts/layout

block content
  #landing-page-container
    #clipman-logo
      h1.main clipman
      h1.blue-shadow-1 clipman
      h1.red-shadow-1 clipman
    //- p.clipman-desc ...is an application for recording and storing content from system clipboard
    //- p.clipman-act
    //-   | You can either 
    //-   a.clipman-start-link start clipman
    //-   |  or 
    //-   a.clipman-view-clips-link view your old clips
    //-   |  (if any).
